{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="col-12 col-md-4 offset-md-4">
      <h3>Crea una Nueva Agenda</h3>
      <form action="{% url 'nueva_agenda' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="mb-2">
            {{ field.label_tag }}
            {{ field }}
          </div>
        {% endfor %}
        <input type="submit" value="Crear" class="btn btn-outline-success">
      </form>
    </div>
  </div>
{% endblock %}